In [11]:
t = 'a', 'b', 'c', 'd', 'e'
t

('a', 'b', 'c', 'd', 'e')

In [12]:
t = ('a', 'b', 'c', 'd', 'e')
t

('a', 'b', 'c', 'd', 'e')

In [14]:
t1 = 'a',
type(t1)

tuple

In [16]:
# Um único valor entre parênteses não é uma tupla:
t2 = ('a')
type(t2)

str

In [18]:
t = tuple()
t

()

In [20]:
# Se os argumentos forem uma sequência (string, lista ou tupla), 
# o resultado é uma tupla com os elementos da sequência:
t = tuple('lupins')
t

('l', 'u', 'p', 'i', 'n', 's')

In [22]:
t[0]

'l'

In [24]:
t[1:3]

('u', 'p')

In [26]:
t[0] = 'A'

TypeError: 'tuple' object does not support item assignment

In [29]:
t = ('A',) + t[1:]
t

('A', 'u', 'p', 'i', 'n', 's')

In [31]:
(0, 1 ,2) < (0, 3, 4)

True

In [33]:
(0, 1, 2000000) < (0, 3, 4)

True

In [40]:
a, b = (1,2,3), (1,2,3)

In [43]:
# O número de variáveis à esquerda e o número de valores 
# à direita precisam ser iguais:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

In [45]:
addr = 'monty@python.org'
uname, domain = addr.split('@')

In [46]:
uname

'monty'

In [47]:
domain

'python.org'

In [49]:
# A função integrada divmod toma dois argumentos e devolve uma tupla de dois valores: o quociente e o resto. 
# Você pode guardar o resultado como uma tupla:
t = divmod(7, 3)
t

(2, 1)

In [51]:
quot, rem = divmod(7, 3)

In [52]:
quot

2

In [53]:
rem

1

In [54]:
def min_max(t):
    return min(t), max(t)

In [59]:
min_max([10, 20, 40, 50])

(10, 50)

In [60]:
mini, maxi = min_max([5, 50, 30, 55])

In [62]:
mini

5

In [63]:
maxi

55

In [64]:
def printall(*args):
    print(args)
    
printall(1, 2.0, '3')

(1, 2.0, '3')

In [66]:
t = (7,3)
divmod(t)

TypeError: divmod expected 2 arguments, got 1

In [67]:
divmod(*t)

(2, 1)

In [69]:
max(1, 2, 3)

3

In [87]:
def sum_all(*t):
    return sum(t)

In [89]:
sum_all(10, 30, 50)

90

In [91]:
s = 'abc'
t = [0,1,2]
zip(s, t)

In [93]:
for pair in zip(s,t):
    print(pair)

('a', 0)
('b', 1)
('c', 2)

In [95]:
list(zip(s,t))

[('a', 0), ('b', 1), ('c', 2)]

In [97]:
t = [('a', 0), ('b', 1), ('c', 2)]
for letter, number in t:
    print(number, letter)

0 a
1 b
2 c

In [98]:
def has_match(t1, t2):
    for x,y in zip(t1, t2):
        if x == y:
            return True
    return False

In [103]:
t1 = [('a', 0), ('b', 1), ('c', 2)]
t2 = [('b', 0), ('c', 1), ('a', 2)]

has_match(t1, t2)

False

In [107]:
t2 = t1
has_match(t1, t2)

True

In [109]:
for i, el in enumerate('abc'):
    print(i, el)

0 a
1 b
2 c

In [111]:
d = {'a':0, 'b':1, 'c':2}
t = d.items()
t

dict_items([('a', 0), ('b', 1), ('c', 2)])

In [113]:
for key, val in d.items():
    print(key, val)

a 0
b 1
c 2

In [118]:
# Indo em outra direção, você pode usar uma lista de tuplas para 
# inicializar um novo dicionário:
t = [('a', 0), ('c', 2), ('b', 1)]
d = dict(t)
d

{'a': 0, 'c': 2, 'b': 1}

In [119]:
d = dict(zip('abc', range(3)))
d

{'a': 0, 'b': 1, 'c': 2}